{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block maintain%}
  <div class="bar" style="width: 100%;"></div>
  <h3>关于作者:</h3>
  <p>青岛大学学生，OSQDU成员</p>
  <p>作者很懒，懒得画课程表所以写了这个东西</p>
  <p>因为懒，所以关于作者写不了太多</p>
  </br>
  <div class="bar" style="width: 100%;"></div>
  <h4>联系方式</h4>
  <p>Email/Gtalk: adamwen829@gmail.com</p>
  <p>Twitter: <a href="http://www.twitter.com/wenxiaobin">@wenxiaobin</a><p>
  <p>如果遇到bug或者有什么问题，请与我联系</p>
  </br>
  </br>
  </br>
  <div class="bar" style="width: 100%;"></div>
  <h3>关于这个程序</h3>
  <h4>实现功能：</h4>
  <p>自动添加课程到google日历</p>
  <p>自动区分区分单双周</p>
  </br>
  </br>
  </br>
  <div class="bar" style="width: 100%;"></div>
  <h3>关于捐赠<h3>
  <h4>Buy me a soda/coffee<h4>
  <p>如果你愿意在使用这个软件的同时，为我买一瓶可乐，或一罐咖啡（苦比的罐装熬夜特饮）,欢迎捐赠
  <p><a href="http://me.alipay.com/adamwen">点此捐赠</p>
{% endblock %}
